# Miscellaneous
*.class
*.lock
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# Visual Studio Code related
.classpath
.project
.settings/
.vscode/

# Flutter repo-specific
/app/bin/cache/
/app/bin/internal/bootstrap.bat
/app/bin/internal/bootstrap.sh
/app/bin/mingit/
/app/dev/benchmarks/mega_gallery/
/app/dev/bots/.recipe_deps
/app/dev/bots/android_tools/
/app/dev/devicelab/ABresults*.json
/app/dev/docs/doc/
/app/dev/docs/flutter.docs.zip
/app/dev/docs/lib/
/app/dev/docs/pubspec.yaml
/app/dev/integration_tests/**/xcuserdata
/app/dev/integration_tests/**/Pods
/app/packages/flutter/coverage/
version
analysis_benchmark.json

# packages file containing multi-root paths
.packages.generated

# Flutter/Dart/Pub related
**/doc/api/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
**/generated_plugin_registrant.dart
.packages
.pub-cache/
.pub/
build/
flutter_*.png
linked_*.ds
unlinked.ds
unlinked_spec.ds

# Android related
**/android/**/gradle-wrapper.jar
.gradle/
**/android/captures/
**/android/gradlew
**/android/gradlew.bat
**/android/local.properties
**/android/**/GeneratedPluginRegistrant.java
**/android/key.properties
*.jks

# iOS/XCode related
**/ios/**/*.mode1v3
**/ios/**/*.mode2v3
**/ios/**/*.moved-aside
**/ios/**/*.pbxuser
**/ios/**/*.perspectivev3
**/ios/**/*sync/
**/ios/**/.sconsign.dblite
**/ios/**/.tags*
**/ios/**/.vagrant/
**/ios/**/DerivedData/
**/ios/**/Icon?
**/ios/**/Pods/
**/ios/**/.symlinks/
**/ios/**/profile
**/ios/**/xcuserdata
**/ios/.generated/
**/ios/Flutter/.last_build_id
**/ios/Flutter/App.framework
**/ios/Flutter/Flutter.framework
**/ios/Flutter/Flutter.podspec
**/ios/Flutter/Generated.xcconfig
**/ios/Flutter/ephemeral
**/ios/Flutter/app.flx
**/ios/Flutter/app.zip
**/ios/Flutter/flutter_assets/
**/ios/Flutter/flutter_export_environment.sh
**/ios/ServiceDefinitions.json
**/ios/Runner/GeneratedPluginRegistrant.*

# macOS
**/Flutter/ephemeral/
**/Pods/
**/macos/Flutter/GeneratedPluginRegistrant.swift
**/macos/Flutter/ephemeral
**/xcuserdata/

# Coverage
coverage/

# Symbols
app.*.symbols

# Exceptions to above rules.
!**/ios/**/default.mode1v3
!**/ios/**/default.mode2v3
!**/ios/**/default.pbxuser
!**/ios/**/default.perspectivev3
!/app/packages/flutter_tools/test/data/dart_dependencies_test/**/.packages
!/app/dev/ci/**/Gemfile.lock

# fastlane
**/fastlane/report.xml
**/fastlane/Preview.html
**/fastlane/screenshots
**/fastlane/test_output
/app/*/fastlane/metadata/*/*/images/phoneScreenshots/
Gemfile
Gemfile.lock

# Project
.env
secrets.dart
gen/
analysis.txt
fastlane
test.http

# generated by make icons
/app/android/app/src/main/res/*/ic_launcher.png
/app/ios/**/AppIcon.appiconset

# Firebase config
GoogleService-Info.plist
GeneratedPluginRegistrant.java
google-services.json
key.properties
firebase_app_id_file.json
firebase_options.dart

# no web support for now due a bug handling async main()
/app/web/

# ignore generated mocks
**/*.mocks.dart